@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap"); /* import font */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}

h1 {
    font-weight: 650;
    line-height: 1.3em;
    letter-spacing: -2px;
}

main {
    max-width: 1150px;
    margin-left: auto;
    margin-right: auto;
}


                    /* Header */

#header {
    display: block;
    background-color: #0C2144;
    position: fixed; /* Make it stick/fixed */
    top: 0; /* Stay on top */
    width: 100%; /* Full width */
    transition: top 0.3s, opacity 0.5s; /* Transition effect when sliding down (and up) */
    width:  100%;
    z-index: 10;
}

.header-logo {
    margin: 20px 10px 20px 20px;
    width: 50px;
    height: 50px;
    scale:100%;
    transition: scale .2s ease-out;
    -webkit-transition: scale .2s ease-out;
}

.header-logo:hover {
    scale: 110%;
}

                    /* Nav menu */
.nav{
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: #0c2144;
    overflow: hidden;

}
.nav{
    max-height: 0;
    transition: max-height .3s ease-out;
    -webkit-transition: max-height .3s ease-out;
}
.menu {
    text-align: center;
}
.menu a{
    display: block;
    padding: 0px;
    color: #fafafa;
    transition: padding .2s ease-out;
    -webkit-transition: padding .2s ease-out;

}

.menu a:hover{
    background-color: #3f535f;
}

.current-page{
    color: #fccb06 !important;
}

/* Menu Icon */
.hamb {
    cursor: pointer;
    float: right;
    padding: 40px 20px;
    /*transition: all .2s ease-out;*/
}

                /* Style label tag */
.hamb-line {
    background: #ffffff;
    display: block;
    height: 3px;
    position: relative;
    width: 24px;

} 

                /* Style span tag */
.hamb-line::before,
.hamb-line::after {
    background: #ffffff;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    -webkit-transition: all .2s ease-out;
    width: 100%;
}
.hamb-line::before {
    top: 10px;
}
.hamb-line::after {
    top: -10px;
}

.side-menu {
    display: none;
} /* Hide checkbox */



/* Toggle menu icon */

.side-menu:checked ~ nav {
    max-height: 100%;
    touch-action: none;
}
.side-menu:checked ~ .hamb .hamb-line {
    background: transparent;
}
.side-menu:checked ~ .nav .menu a {
    padding: 20px;
}
.side-menu:checked ~ .hamb .hamb-line::before {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    background: #ffff00;
    top:0;
}
.side-menu:checked ~ .hamb .hamb-line::after {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    background: #ffff00;
    top:0;
}


li {
    font-size: 1.2em;
}


#wordmark {
    margin: auto;
    text-align: left;
    font-size: 2em;
    font-weight: 500;
    line-height:1em;
    color: #ffffff;
}

#my-intro {
    padding: 20px;
    width: 100%;
}

.mitchangus {
    font-size: 1.2em;
    letter-spacing: 1px;
}

.page-title {
    letter-spacing:-2px;
    opacity: 1;
    -webkit-animation: letterspace 2s ease-in-out, fadein 2s ease-in-out;
    animation: letterspace 2s ease-in-out, fadein 2s ease-in-out;
}

@-webkit-keyframes letterspace {
  0%   { letter-spacing: 1px; }
  100% { letter-spacing:-2px; }
}
@keyframes letterspace {
  0%   { letter-spacing: 1px; }
  100% { letter-spacing:-2px; }
}
@-webkit-keyframes fadein {
    0%   { opacity: 0; }
    100% { opacity: 1; }
}
@keyframes fadein {
    0%   { opacity: 0; }
    100% { opacity: 1; }
}

.profile-intro-container {
    width: 100%;
    margin: 140px 0 30px 0;
    font-size: 1.2em;
    color: #0C2144;
    /*background-image: linear-gradient(#0957a4,#0e6ece);*/
    background: #ffffff;
    /*border: solid 1px #0c2144;*/
}
.profile-intro {
    display: block;
    width: fit-content;
    margin: auto;
}

.desktop-options {
    display: flex;
    padding-left: 5%;
    padding-right: 5%;
    
}
.desktop-cards-wrapper {
    display: grid;
    width: 100%;
    justify-content: center;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 1.8rem;
    margin: 60px auto;
  }
  
  #card img {
    width: 100%;
    margin-top: 0px;
    /* transform: translateY(-30px); */
  }
  #card {
    height: auto;
    width: 1fr;
    font-size: 1.5em;
    color: #1e1e1e;
    background-color: #eee;
    padding: 0em;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    box-shadow: 10px 10px 30px lightgray, -10px -10px 20px white;
    position: relative;
    overflow: hidden;
    text-decoration: none;
  }
  #card-box {
    display: flex;
    width: 100%;
    padding: 15% 35% ;
    background-color: #0C2144;
    height: 200px;
    overflow: hidden;
    background-image: url("/img/card-box-bg-1000w.webp") ;
    background-position: center;
    background-size: cover;
    filter: brightness(1.5);
  }
  #card-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 1em;
    margin: auto;
    text-align: center;
  }
  #card-content p {
    font-family: sans-serif 'Poppins';
    font-size: 16px;
    text-indent: 10px;
    text-align: left;
  }
  
  #hello-button {
    border: 0px solid #0c2144;
    background-color: #0c2144;
    border-radius: 0.9em;
    padding: 0.8em 2em 0.8em 2em;
    margin: 20px auto;
    transition: all ease-in-out 0.2s;
    font-size: 16px;
    font-weight: 600;
    color: #ffffff;
    }
  #hello-button:hover {
    background-color: #24b4fb;
    border: 0px solid #0c2144;
    transform: scale(1.05);
  }

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 60px 0 60px 0;
} 
.social-links > ul {
    display: flex;
    flex-direction: row;
}
.social-links > ul > li {
    display: flex;
    flex-direction: row;
    padding: 10px;
}
.social-links > ul > li > a > svg {
    fill:#65747d;
    height: 35px;
    opacity: 1;
    width:35px;
}
.social-links > ul > li > a > svg:hover {
    fill:#0C2144;
    height: 35px;
    opacity: 1;
    width:35px;
}
.footer-text {
    color: #3f535f;
    font-size: .8em;
}
@media (-webkit-animation) {
    /* CSS to use if -webkit- prefixed animations are supported AND the browser supports prefixed properties as media queries */
}

                                        /* Responsiveness */

@media screen and (max-width: 1285px) {
  .desktop-cards-wrapper {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 801px) {

    .desktop-cards-wrapper {
        grid-template-columns: 1fr;
    }


}