

.project-title {
    margin: 40px 0 20px 0;
    padding: 20px;
    width: 100%;
}

.project-title h1 {
    letter-spacing:-1px;
    opacity: 1;
    -webkit-animation: letterspace 2s ease-in-out, fadein 2s ease-in-out;
    animation: letterspace 2s ease-in-out, fadein 2s ease-in-out;
}

@-webkit-keyframes letterspace {
  0%   { letter-spacing: 1px; }
  100% { letter-spacing:-1px; }
}
@keyframes letterspace {
  0%   { letter-spacing: 1px; }
  100% { letter-spacing:-1px; }
}
@-webkit-keyframes fadein {
    0%   { opacity: 0; }
    100% { opacity: 1; }
}
@keyframes fadein {
    0%   { opacity: 0; }
    100% { opacity: 1; }
}
.project {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    width: 100%;
}

.project p {
    max-width: 90%;
    margin: 10px auto 0 auto;
    font-size: .9em;
}

.project h2 {
    max-width: 90%;
    margin: 0 auto 0 auto;
}

.project img {
    width: 100%;
    margin-top: 20px;
}

#slideshow {
    position: relative;
    top: 0;
    left: 0;
}

#slide1 {
    position: relative;
    top: 0;
    left: 0;
}

#slide2 {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    animation: slideshow  alternate infinite 2s ease-in-out;
}
@-webkit-keyframes slideshow {
    0%   { opacity: 0; }
    20%  { opacity: 0; }
    80%  { opacity: 1; }
    100% { opacity: 1; }
}
@keyframes slideshow {
    0%   { opacity: 0; }
    20%  { opacity: 0; }
    80%  { opacity: 1; }
    100% { opacity: 1; }
}


/*                    Begin Responsiveness              */



@media screen and (min-width: 801px) {
    
    .project-title {
        margin: 40px 0 60px 0;
        padding: 20px;
        width: 100%;
    }

    .project {
        grid-template-columns: 1fr 1fr;
        gap: 40px;
        max-width: 1150px;
    }
    
    .project > div:nth-child(3) {
        grid-column: 2 / 2;
    }
    
    .project > div:nth-child(4) {
        grid-column: 1 / 2;
        grid-row: 2;
    }

    .project > div:nth-child(7) {
        grid-column: 2 / 2;
    }
    
    .project > div:nth-child(8) {
        grid-column: 1 / 2;
        grid-row: 4;
    }
    
    .project p {
        font-size: .9em;
        max-width: 100%;
        margin: 20px 0 0 0;
    }
    
    .project h2 {
        max-width: 100%;
        font-size: 1.2em;
    }
    .project img {
        margin-top: 0px;
    }
}
  



