

.project-title {
    margin: 40px 0 20px 0;
    padding: 20px;
    width: 100%;
}

.project-title h1 {
    letter-spacing:-1px;
    opacity: 1;
    -webkit-animation: letterspace 2s ease-in-out, fadein 2s ease-in-out;
    animation: letterspace 2s ease-in-out, fadein 2s ease-in-out;
}

@-webkit-keyframes letterspace {
  0%   { letter-spacing: 1px; }
  100% { letter-spacing:-1px; }
}
@keyframes letterspace {
  0%   { letter-spacing: 1px; }
  100% { letter-spacing:-1px; }
}
@-webkit-keyframes fadein {
    0%   { opacity: 0; }
    100% { opacity: 1; }
}
@keyframes fadein {
    0%   { opacity: 0; }
    100% { opacity: 1; }
}
.project {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    width: 100%;
}

.project p {
    max-width: 90%;
    margin: 0 auto;
    font-size: 1em;
    line-height: 1.3em;
}

.project h2 {
    font-size: 1.5em;
    line-height: 1.3em;
    font-weight: 600;
    max-width: 90%;
    margin: 0 auto .5em auto;
}

.project img {
    width: 100%;
    margin-top: 20px;
}

#slideshow {
    position: relative;
    
}

#slide1 {
    position: relative;
    top: 0;
    left: 0;
}

#slide2 {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    animation: slideshow  alternate infinite 2s ease-in-out;
}

#modal-slideshow {
    position: relative;
    background-image: url(../img/liftoffFinalA1600w.webp);
    background-position: top center;
    background-size: contain;
    background-repeat: no-repeat;
}
#modal-slide {
    position: relative;
    top: 0;
    left: 0;
    opacity: 0;
    animation: slideshow  alternate infinite 2s ease-in-out;
}

@-webkit-keyframes slideshow {
    0%   { opacity: 0; }
    20%  { opacity: 0; }
    80%  { opacity: 1; }
    100% { opacity: 1; }
}
@keyframes slideshow {
    0%   { opacity: 0; }
    20%  { opacity: 0; }
    80%  { opacity: 1; }
    100% { opacity: 1; }
}

#footer-nav-buttons {
    display: flex;
    width: 100%;
    padding: 0 30px 0 30px;
    max-width: 800px;
    vertical-align: middle;
    justify-content: space-between;
    
}
.back-next-button {
    width: 120px;
    text-align: center;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    padding: 13px;
    color: #0c122f;
    border-radius: .5em;
    border-width: 0px;

    transition: all .3s ease-in-out;
}

#home-button {
    width: 120px;
    text-align: center;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    margin: 20px 0 30px 0;
    padding: 13px;
    color: #0c122f;
    background-color: white;
    border-radius: .5em;
    border: 1px lightgray solid;
    transition: all .3s ease-in-out;
}
.back-next-button:hover {
    background-color: #0c122f;
    color: yellow;
    transform: scale(1.1);
}

#home-button:hover {
    background-color: #0c122f;
    color: yellow;
    transform: scale(1.1);
}

/* The Modal (background) */
.modal {
    display: none;
    flex-direction: column;
    justify-content: center;
    position: fixed;
    touch-action: none;
    z-index: 20;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    overflow: auto;
    background-color: rgba( 255, 255, 255,.9);
  }
  
  /* Modal Content */
  .modal-content {
    overflow-y: hidden;
    touch-action: none;
    touch-action: pan-x;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    z-index: 30;
    padding-top: 2%;
    margin: auto;
    width: 100%;
    height: auto;   
    background-color: rgba(0, 0, 0, 0.8);
  }

  /* The Close Button */
  .close {
    color: #0c122f;
    position: absolute;
    z-index: 50;
    top: 10px;
    right: 25px;
    font-size: 35px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #999;
    text-decoration: none;
    cursor: pointer;
  }
  
  .mySlides {
    display: none;
    justify-content: center;
  }
  
  
  /* Next & previous buttons */
  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -50;
    color: white;
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    background-color: rgba(0, 0, 0, .3);
    user-select: none;
    -webkit-user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover,
  .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
    left: 0;
  }
  
  
  .caption-container {
    width: fit-content;
    white-space: wrap;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color: rgba(0, 0, 0, 0);
    padding: 12px 16px;
    color: white;
    }

           
    .scrolling-wrapper {
        overflow-x: scroll;
        overflow-y: hidden;
        white-space: nowrap;
        scroll-snap-type: x mandatory;
        scrollbar-width:none;
        font-family: 'poppins', san serif;
        }

    .modal-card {
        display: inline-flex;
        flex-direction: column;
        vertical-align: middle;
        text-align:center;
        width:100vw;
        height:fit-content;
        scroll-snap-align:center;
        box-sizing: border-box;
    }
    .modal-card img {
        position: relative;
        width: 100%;
        height: auto;
        object-fit: contain;
    }

    .scrolling-wrapper {
        -webkit-overflow-scrolling: touch;
    }

    #nav-l {
        left:0;
        margin-left:2%;
    }
    #nav-r {
        right:0;
        margin-right:2%;
    }
    .nav-btn {
        position:absolute;
        top:40%;
        z-index: 300;
        height: auto;
        width: auto;
        padding: 15px;
        border-radius: 2rem;
        border:none;
        font-family:poppins;
        font-weight:bold;
        font-size:xx-large;
        color:#808080;
        background-color:#d0d0d088;
        cursor:pointer;
    }
    .nav-btn:active {
        background-color:#e0e0e0;
    }

    .card > h2 {
        padding:5px 20px;
        width:fit-content;
        margin-left:auto;
        margin-right:auto;
        border-radius:5px;
        background-color:#ffffffd0;
    }


#comic-covers {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}
.card-container {
    width: 50%;
}
  



/*                    Begin Responsiveness              */



@media screen and (min-width: 801px) {
    
    .project-title {
        margin: 40px 0 60px 0;
        padding: 20px;
        width: 100%;
    }

    .project {
        grid-template-columns: 1fr 1fr;
        gap: 40px;
        max-width: 1150px;
    }
    
    .project > div:nth-child(3) {
        grid-column: 2 / 2;
    }
    
    .project > div:nth-child(4) {
        grid-column: 1 / 2;
        grid-row: 2;
    }

    .project > div:nth-child(7) {
        grid-column: 2 / 2;
    }
    
    .project > div:nth-child(8) {
        grid-column: 1 / 2;
        grid-row: 4;
    }
    
    .project p {
        font-size: .9em;
        max-width: 100%;
        margin: 20px 0 0 0;
    }
    
    .project h2 {
        max-width: 100%;
        font-size: 1.2em;
    }
    .project img {
        margin-top: 0px;
    }

    #comic-covers {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        width: 100%;
    }

    .card-container {
        width: 100%;
        object-fit: cover;
          
    }
    .card-container:not(:nth-child(1)){
        margin-left: -5rem;
    }
    .card-container > img {
        position: relative;
        object-fit: cover;
        width: 100%;
        height: auto;
        filter: drop-shadow(30px 8px 10px rgba(0,0,0,.3));
        transition: all .3s ease-in-out;
    }
    .card-container:nth-child(1) > img:hover, .card-container:nth-child(1) > img:focus-within {
        
        transform: scale(105%);
    }
    .card-container:not(:nth-child(1)) > img:hover, .card-container:not(:nth-child(1)) > img:focus-within {
        transform:translateX(3rem) rotate(10deg) scale(105%) ;
    }
    .modal {
        padding-top: 40px;
    }
    .modal-content {
        max-width: 900px;
        padding-top: 2%;
    }
    .modal-card {
        width: 100%;
        margin:auto;
        background-position: top center;
        background-size: contain;
        background-repeat: no-repeat;
    }
    .modal-card img {
        width: 100%;
        height: auto;
        max-height: 75vh;
    }

    .nav-btn {
        position:absolute;
        top:40%;
        z-index: 300;
        height: auto;
        width: auto;
        padding: 15px;
        border-radius: 2rem;
        border:none;
        font-family:poppins;
        font-weight:bold;
        font-size:xx-large;
        color:#808080;
        background-color:#e0e0ffaa;
        cursor:pointer;
        transition: all .2s;
    }
    .nav-btn:hover {
        background-color:#f0f0f0;
    }
    .nav-btn:active {
        background-color:white;
    }
    #nav-l {
        margin-left:5%;
    }
    #nav-r {
        margin-right:5%;
    }
}
  



