@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap"); /* import font */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}

h1 {
    font-weight: 600;
    /*line-height: 2em;*/
    letter-spacing: -2px;
}

main {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}


                    /* Header */

#header {
    display: block;
    background-color: #0C2144;
    position: fixed; /* Make it stick/fixed */
  top: 0; /* Stay on top */
  width: 100%; /* Full width */
  transition: top 0.3s, opacity 0.3s; /* Transition effect when sliding down (and up) */
    width:  100%;
    z-index: 1;
}

.header-logo {
    margin: 20px 10px 20px 20px;
    width: 50px;
    height: 50px;
    scale:100%;
    transition: scale .2s ease-out;
    -webkit-transition: scale .2s ease-out;
}

.header-logo:hover {
    scale: 110%;
}

                    /* Nav menu */
.nav{
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: #0c2144;
    overflow: hidden;

}
.nav{
    max-height: 0;
    transition: max-height .3s ease-out;
    -webkit-transition: max-height .3s ease-out;
}
.menu {
    text-align: center;
}
.menu a{
    display: block;
    padding: 0px;
    color: #fafafa;
    transition: padding .2s ease-out;
    -webkit-transition: padding .2s ease-out;

}

.menu a:hover{
    background-color: #3f535f;
}

.current-page{
    color: #fccb06 !important;
}

/* Menu Icon */
.hamb {
    cursor: pointer;
    float: right;
    padding: 40px 20px;
    /*transition: all .2s ease-out;*/
}

                /* Style label tag */
.hamb-line {
    background: #ffffff;
    display: block;
    height: 3px;
    position: relative;
    width: 24px;

} 

                /* Style span tag */
.hamb-line::before,
.hamb-line::after {
    background: #ffffff;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    -webkit-transition: all .2s ease-out;
    width: 100%;
}
.hamb-line::before {
    top: 10px;
}
.hamb-line::after {
    top: -10px;
}

.side-menu {
    display: none;
} /* Hide checkbox */

/* Toggle menu icon */

.side-menu:checked ~ nav {
    max-height: 100%;
    touch-action: none;
}
.side-menu:checked ~ .hamb .hamb-line {
    background: transparent;
}
.side-menu:checked ~ .nav .menu a {
    padding: 20px;
}
.side-menu:checked ~ .hamb .hamb-line::before {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    background: #ffff00;
    top:0;
}
.side-menu:checked ~ .hamb .hamb-line::after {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    background: #ffff00;
    top:0;
}


li {
    font-size: 1.2em;
}


#wordmark {
    margin: auto;
    text-align: left;
    font-size: 2em;
    font-weight: 500;
    line-height:1em;
    color: #ffffff;
}

#my-intro {
    padding: 20px;
    width: 100%;
}

.mitchangus {
    font-size: 1.2em;
    letter-spacing:1px;
    -webkit-animation: letterspace 3s ease-in-out;
    animation: letterspace 3s ease-in-out;
}

@-webkit-keyframes letterspace {
  0%   { letter-spacing: 0px; }
  100% { letter-spacing:1px; }
}
@keyframes letterspace {
  0%   { letter-spacing: 0px; }
  100% { letter-spacing:1px; }
}

#hero-mobile {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 70vh;
    margin-top: 90px;
    font-size: 1.2em;
    color: #0C2144;
    /*background-image: linear-gradient(#0957a4,#0e6ece);*/
    background: #ffffff;
    animation: heroheight 6s ease-in-out;
    /*border: solid 1px #0c2144;*/
}

#page-head {
    width: 100%;
    margin: 100px 0 30px 0;
    font-size: 1.2em;
    color: #0C2144;
    /*background-image: linear-gradient(#0957a4,#0e6ece);*/
    background: #ffffff;
    /*border: solid 1px #0c2144;*/
}

.text-outline {
    -webkit-text-stroke: 1px #0C2144;
    color: #ffffff;
}

#tagline {
    display: block;
    position: absolute;
    width: 400px;
    padding: 30px;
    margin: 110px auto 20px auto;
    font-size: 2.5em;
    font-weight: bold;
    opacity: 0;
    -webkit-animation: tagline-blur 1.5s ease-out 3s, tagline-fade 3.5s forwards;
    animation: tagline-blur 1.5s ease-out 3s, tagline-fade 3.5s forwards;
}

#line1 {
    margin-left:100px;
    opacity: 0;
    -webkit-animation: tagline-in-f-r .2s ease-out forwards 1s, linefade .2s ease-out forwards 1s;
    animation: tagline-in-f-r .2s ease-out forwards 1s, linefade .2s ease-out forwards 1s;
}

#line2 {
    text-align:right;
    margin-right:100px;
    opacity: 0;
    -webkit-animation: tagline-in-f-l .2s ease-out forwards 1.5s, linefade .2s ease-out forwards 1.5s;
    animation: tagline-in-f-l .2s ease-out forwards 1.5s, linefade .2s ease-out forwards 1.5s;
}

#line3 {
    white-space: nowrap;
    margin-left:100px;
    opacity: 0;
    -webkit-animation: tagline-in-f-r .2s ease-out forwards 2s, linefade .2s ease-out forwards 2s;
    animation: tagline-in-f-r .2s ease-out forwards 2s, linefade .2s ease-out forwards 2s;
}

#blurb {
    margin: 140px auto;
    display: block;
    position: absolute;
    max-width: 100%;
    padding: 20px;
    font-size: 1.3rem;
    opacity: 0;
    -webkit-animation: blurbappear 5s forwards, blurbfadein 1.7s ease-out forwards 4s;
    animation: blurbappear 5s forwards, blurbfadein 1.7s ease-out forwards 4s;
}



@media (-webkit-animation) {
    /* CSS to use if -webkit- prefixed animations are supported AND the browser supports prefixed properties as media queries */
  }
@-webkit-keyframes tagline-in-f-r {
    100% {margin-left: 0px;}
}

@-webkit-keyframes tagline-in-f-l {
    100% {margin-right: 0px;}
}

@-webkit-keyframes linefade {

    100% {opacity: 1;}
}

@-webkit-keyframes tagline-fade {
    0% {opacity:1;}
    75% {opacity:1;}
    100% {opacity:0;}
}

@-webkit-keyframes tagline-blur { 
  100% {filter: blur(10px)};
}

@-webkit-keyframes heroheight {
    0% {height:100vh;}
    80%{height:100vh;}
    100%{height:70vh;}
}

@-webkit-keyframes blurbfadein {
    0% {opacity:0;}
    100% {opacity:1;}
}

@-webkit-keyframes blurbappear {
    0% {display:none;}
    80% {display:none;}
    81% {display:block;}
    100% {display:block;} 
    
}

@-webkit-keyframes taglinedisplay {
    0% {display:none;}
    1% {display:block;}
    99% {display:block;}
    100% {display:none;}
}
/* ----------------------End Webkit---------------------*/
@keyframes tagline-in-f-r {
    100% {margin-left: 0px;}
}

@keyframes tagline-in-f-l {
    100% {margin-right: 0px;}
}

@keyframes linefade {

    100% {opacity: 1;}
}

@keyframes tagline-fade {
    0% {opacity:1;}
    75% {opacity:1;}
    100% {opacity:0;}
}

@keyframes tagline-blur { 
  100% {filter: blur(10px)};
}

@keyframes heroheight {
    0% {height:100vh;}
    80%{height:100vh;}
    100%{height:70vh;}
}

@keyframes blurbfadein {
    0% {opacity:0;}
    100% {opacity:1;}
}

@keyframes blurbappear {
    0% {display:none;}
    80% {display:none;}
    81% {display:block;}
    100% {display:block;} 
    
}

@keyframes taglinedisplay {
    0% {display:none;}
    1% {display:block;}
    99% {display:block;}
    100% {display:none;}
}

#scroll-down {
    margin: 0px auto 30px auto;
    text-align: center;
}

.preview ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: .5rem;
}


.preview > ul > li > figure {
    display: flex;
    justify-content: center;
    align-items: center;
    aspect-ratio: 16/9;
    overflow: hidden;
    position: relative;
}

.preview > ul > li > figure > img {
    width: 100%;
}

.preview > ul > li > figure > figcaption {
    position: absolute;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    height: 5rem;
    bottom: 0;
    background: linear-gradient(
      rgba( 0, 0, 0, 0),
      rgba(20, 20, 20, .4)
      );
    width: 100%;
}

.preview > ul > li > figure > figcaption > h3 {
    color: white;
    padding: .75rem;
    font-size: 1.25rem;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .7);
}

.preview > ul > li > p {
    font-size: 1rem;
    line-height: 1.5;
    padding: 1rem .75rem;
    color: #666666;
}

.preview > ul > li > a {
    padding: .5rem 1rem;
    margin: .5rem;
}

.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 60px 0 60px 0;
} 
.social-links > ul {
    display: flex;
    flex-direction: row;
}
.social-links > ul > li {
    display: flex;
    flex-direction: row;
    padding: 10px;
}
.social-links > ul > li > a > svg {
    fill:#65747d;
    height: 35px;
    opacity: 1;
    width:35px;
}
.social-links > ul > li > a > svg:hover {
    fill:#0C2144;
    height: 35px;
    opacity: 1;
    width:35px;
}
.footer-text {
    color: #3f535f;
    font-size: .8em;
}

#form {
    display: flex;
    align-content: center;
    max-width: 100%;  
}    
form {
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
    padding: 30px 30px 30px 30px;
    width: 90%;
    border: 3px solid #e9e9e9;
    background-color: #fbfbfb;
}
form > p {
    font-size: .5rem;
}

.input {
    width: 100%;
    border: none;
    outline: none;
    border-radius: 15px;
    padding: 1em;
    margin-bottom: 20px;
    background-color: #e9e9e9;
    box-shadow: inset 2px 5px 5px rgba(0,0,0,0.1);
    transition: 300ms ease-in-out;
}
  
.input:focus {
    background-color: white;
    transform: scale(1.05);
    box-shadow: 13px 13px 100px #969696,
                -13px -13px 100px #ffffff;
}

.text-area {
    width: 100%;
    min-height: 100px;
    border: none;
    outline: none;
    border-radius: 15px;
    margin-bottom: 20px;
    padding: 1em;
    background-color: #e9e9e9;
    box-shadow: inset 2px 5px 5px rgba(0,0,0,0.1);
    transition: 300ms ease-in-out; 
}
.text-area:focus {
    background-color: white;
    transform: scale(1.05);
    box-shadow: 13px 13px 100px #969696,
                -13px -13px 100px #ffffff;
}
#submit-button {
    margin-right: 20px;
    border: 2px solid #24b4fb;
    background-color: #24b4fb;
    border-radius: 0.9em;
    padding: 0.8em 2.2em 0.8em 2em;
    transition: all ease-in-out 0.2s;
    font-size: 16px;
    font-weight: 600;
    color: #ffffff;
}
#submit-button:hover {
    background-color: #0071e2;
}

#about-blurb {
    width:90%;
    font-size: 1.6rem;
    padding-left:20px;
    margin-bottom: 40px;
}

#about-mission {
    width:90%;
    padding-top: 20px;
    padding-left:20px;
    font-size: 1.2rem;
}



                                        /* Responsiveness */
@media (min-width: 801px) {
    .header-logo {
        margin: 20px 10px 20px 40px;
    }
    .nav{
        max-height: none;
        top: 0;
        position: relative;
        float: right;
        width: fit-content;
        background-color: transparent;
    }
    .menu li{
        float: left;
    }
    .menu a {
        padding: 30px 25px 25px 25px;
    }
    .menu a:hover{
        background-color: transparent;
        color: #768f9f;

    }

    .hamb{
        display: none;
    }

    #my-intro {
        padding: 0px;
    }



    #hero-mobile {
        /*max-width: 1000px;*/
        display: flex;
        justify-content: center;
        margin-top: 120px;
        margin-left:auto;
        margin-right:auto;
        padding-top: 0px;
        /*padding-left: 50px;*/
    }    
    #tagline {
        max-width: 40%;
        margin-top: 100px;
        font-size: 3em;
    }
    #blurb {
        max-width: 60%;
        margin: 120px auto;
        font-size: 1.5em;
    }

    #page-head {
        width: 100%;
        margin: 120px 0 30px 0;
        font-size: 1.2em;
        text-align: left;
        color: #0C2144;
        /*background-image: linear-gradient(#0957a4,#0e6ece);*/
        background: #ffffff;
        /*border: solid 1px #0c2144;*/
    }
    
    
    .preview > ul > li > figure {
        display: flex;
        justify-content: center;
        align-items: center;
        aspect-ratio: 16/9;
        border-radius: .5rem;        
        position: relative;
    }
    
    .preview > ul > li > figure > img {
        width: 100%;
        transition: filter 0.5s ease-in-out, transform 1s ease-out;
    }

    .preview > ul > li > figure:hover img{
        filter: brightness(50%);
        transform: scale(108%);
    }
    
    .preview > ul > li > figure > figcaption {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background: none;
        background-color: transparent;
        opacity: 0;
        transition: opacity 0.5s ease-in-out;
    }

    .preview > ul > li > figure:hover figcaption {
        opacity: 1;
    }
    
    .preview > ul > li > figure > figcaption > h3 {
        color: white;
        font-size: 1.3rem;
        line-height: .5rem;
        letter-spacing: .03em;
    }
    
    /*.preview > ul > li > p {
        font-size: 1rem;
        line-height: 1.5;
        padding: 1rem .75rem;
        color: #666666;
    }*/
    
    .preview > ul > li > a {
        padding: .5rem 1rem;
        margin: .5rem;
    }

    #form {
        display: flex;
        align-content: center;
        max-width: 100%;  
    }    
    form {
        border-radius: 20px;
        margin-left: auto;
        margin-right: auto;
        padding: 30px 50px 30px 50px;
        width: 60%;
        border: 0px solid #e9e9e9;
        background-color: #ffffff;
        box-shadow: 8px 8px 20px 1px  #cccccc;
    }
    form > p {
        font-size: .5rem;
    }
    
    .input {
        width: 60%;
        border: none;
        outline: none;
        border-radius: 5px;
        padding: 1em;
        margin-bottom: 20px;
        background-color: #f7f7f7;
        box-shadow: inset 2px 5px 5px rgba(0,0,0,0.1);
        transition: 300ms ease-in-out;
    }
      
    .input:focus {
        background-color: white;
        transform: scale(1.05);
        box-shadow: 13px 13px 100px #969696,
                    -13px -13px 100px #ffffff;
    }
    
    .text-area {
        width: 100%;
        min-height: 100px;
        border: none;
        outline: none;
        border-radius: 15px;
        margin-bottom: 20px;
        padding: 1em;
        background-color: #f7f7f7;
        box-shadow: inset 2px 5px 5px rgba(0,0,0,0.1);
        transition: 300ms ease-in-out; 
    }
    .text-area:focus {
        background-color: white;
        transform: scale(1.05);
        box-shadow: 13px 13px 100px #969696,
                    -13px -13px 100px #ffffff;
    }
    #submit-button {
        margin-right: 20px;
        border: 0px solid #24b4fb;
        background-color: #24b4fb;
        border-radius: 0.9em;
        padding: 0.8em 2.2em 0.8em 2em;
        transition: all ease-in-out 0.2s;
        font-size: 16px;
        font-weight: 600;
        color: #ffffff;
    }
    #submit-button:hover {
        background-color: #0071e2;
    }
    
    #about-blurb {
        width:40%;
        font-size: 1.6rem;
        padding-left: 0;
        margin-bottom: 40px;
    }
    
    #about-mission {
        width:40%;
        padding-top: 20px;
        padding-left: 0;
        font-size: 1.2rem;
    }

    
}