@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap"); /* import font */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}

h1 {
    font-weight: 600;
}

main {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}


                    /* Header */

.header {
    background-color: #0C2144;
    position:sticky;
    top: 0;
    width:  100%;
}

.header-logo {
    margin: 20px 10px 20px 20px;
    width: 50px;
    height: 50px;
}

                    /* Nav menu */
.nav{
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: #0c2144;
    overflow: hidden;

}
.nav{
    max-height: 0;
    transition: max-height .3s ease-out;
}
.menu {
    text-align: center;
}
.menu a{
    display: block;
    padding: 0px;
    color: #fafafa;
    transition: padding .2s ease-out;

}

.menu a:hover{
    background-color: #3f535f;
}


                /* Menu Icon */
.hamb{
    cursor: pointer;
    float: right;
    padding: 40px 20px;
    /*transition: all .2s ease-out;*/
}

                /* Style label tag */
.hamb-line {
    background: #ffffff;
    display: block;
    height: 3px;
    position: relative;
    width: 24px;

} 

                /* Style span tag */
.hamb-line::before,
.hamb-line::after{
    background: #ffffff;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}
.hamb-line::before{
    top: 10px;
}
.hamb-line::after{
    top: -10px;
}

.side-menu {
    display: none;
} /* Hide checkbox */

/* Toggle menu icon */

.side-menu:checked ~ nav {
    max-height: 100%;
}
.side-menu:checked ~ .hamb .hamb-line {
    background: transparent;
}
.side-menu:checked ~ .nav .menu a{
    padding: 20px;
}
.side-menu:checked ~ .hamb .hamb-line::before {
    transform: rotate(-45deg);
    background: #ffff00;
    top:0;
}
.side-menu:checked ~ .hamb .hamb-line::after {
    transform: rotate(45deg);
    background: #ffff00;
    top:0;
}


li {
    font-size: 1em;
}


#wordmark {
    margin: auto;
    text-align: left;
    font-size: 2em;
    font-weight: 500;
    line-height:1em;
    color: #ffffff;
}

#hero-mobile {
    display: flex;
    width: 100%;
    height: 60vh;
    padding: 20px;
    font-size: 1.2em;
    color: #ffffff;
    background: #0e6ece;
    /*border: solid 1px #0c2144;*/
}

.text-outline {
    -webkit-text-stroke: 1.5px #0c2144;
    color: #ffffff;
}

/* Responsiveness */
@media (min-width: 768px) {
    .nav{
        max-height: none;
        top: 0;
        position: relative;
        float: right;
        width: fit-content;
        background-color: transparent;
    }
    .menu li{
        float: left;
    }
    .menu a {
        padding: 30px 25px 25px 25px;
    }
    .menu a:hover{
        background-color: transparent;
        color: #768f9f;

    }

    .hamb{
        display: none;
    }
    #hero-mobile {
        max-width: 1000px;
        margin-left:auto;
        margin-right:auto;
        padding-top: 30px;
        padding-left: 50px;
    }
}

#work-mobile {
    margin-top: 10px;
}

.work-mobile-thumb {
    width:100%;
    height:200px;
    margin-bottom: 50px;
    color: #3f535f;
}

.mobile-thumb-title {
    margin-top: 10px;
    margin-left: 10px;
    line-height: 1em;
    
}
