:root {
  --brndClrOne: #961B3A;
  --brandBg: #f0f0f0;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
body {
    background-color: var(--brandBg);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    max-width: 400px;
    margin:auto;
}
#nav-open {
    position: absolute;
    width: 20px;
    height: 3px; 
    top: 35px;
    right: 20px;
    z-index: 20;
    border: none;
    font-size: xx-large;
    background-color: white;
    color: white;
    cursor: pointer;
}
#nav-open::before {
    content: '';
    display: block;
    position: absolute; 
    width: 20px;
    height: 3px;
    background-color: white;
    transform: translateY(-18px);
}
#nav-open::before {
    content: '';
    display: block;
    position: absolute; 
    width: 20px;
    height: 3px;
    background-color: white;
    transform: translateY(-18px);
}
#nav-open::after {
    content: '';
    display: block;
  position: absolute; 
    width: 20px;
    height: 3px;
    background-color: white;
    transform: translateY(-10px);
}
#nav-panel[popover] {
    max-width: 400px;
    position: absolute;
    height: 70vh;
    max-height: 70vh;
    overflow: hidden;
    border: 0px;
    margin: 0 auto;
    padding: 2.5rem 1rem 0;
    text-align: right;
    width: 100%;
    color: white;
    background-color: rgba(0, 0, 0, .3);
    background-image: linear-gradient(rgba(0,0,0,.7),rgba(0,0,0,0));
    z-index: -1;
    animation: .5s ease-out FadeIn;
}
#nav-panel[popover] ul li:not(:last-child)::after {
    content: '';
    display: block;
    position: absolute;
    width: 150px;
    height: 2px;
    right: 0;
    transform: translateY(4px);
    background-color: white;
}
@keyframes FadeIn {
    from {opacity: 0;}
    to {opacity: 1;}    
}
#nav-panel[popover] ul li {
    opacity: 0;
    animation: .5s ease-out forwards FadeInRt;
}
@keyframes FadeInRt {
    from { transform: translateX(120px); opacity: 0;}
    to { transform: translateX(0px); opacity: 1;}
}
#nav-panel[popover] ul li:nth-child(2) { animation-delay: .1s }
#nav-panel[popover] ul li:nth-child(3) { animation-delay: .2s }
#nav-panel[popover] ul li:nth-child(4) { animation-delay: .3s }
#nav-panel[popover] ul li:nth-child(5) { animation-delay: .4s }

#nav-close {
    position: absolute;
    top: 10px;
    right: 20px;
    border: none;
    font-size: xx-large;
    background-color: rgba(0, 0, 0, 0);
    color: white;
}
.menu-goaway {
    display: block;
    width: 100%;
    height: 60%;
    border: 0px;
    background-color: rgba(0, 0, 0, 0);
}
.nav-item {
    border: none;
    font-size: large;
    background-color: rgba(0, 0, 0, 0);
    color: white;
    cursor: pointer;
    font-size: 1.5rem;
    letter-spacing: 1px;
}
#nav-panel a, ul {
    text-decoration: inherit;
    color: inherit;
    list-style: none;
}
#nav-panel li {
    margin: 15px 0;
    cursor: pointer;
}

.mobile-hero {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
    position: relative;
    overflow: hidden;
}
.mobile-hero img {
    position: absolute;
    top: 0;
    left: 50;
    object-fit: cover;
    filter: brightness(.8);
}
#slide-1 {
    display: none;
}
#slide-2 {
    width: 100%;
    height: 100%;
    animation: 10s ease-in-out 0s infinite alternate fadeOut;
    z-index: 2;
}
#slide-3 {
    height: 100%;
    width: 100%;
}

@keyframes fadeOut {
    0% { opacity: 0;}
    25% { opacity: 0;}
    75% { opacity: 1;}
    100% { opacity: 1;}
}
.hero-info {
    text-align: center;
    padding: 12px 16px;
    border-radius: .5rem;
    color: white;
    background-color: rgba(0, 0, 0, .5);
    z-index: 5;
}
.tab-titles{
        display: flex;
    justify-content: space-around;
    background-color: rgb(205, 193, 179);
    z-index: -20;
}
.menu-tab-titles{
        display: flex;
    justify-content: space-around;
    background-color: rgb(205, 193, 179);
    z-index: -20;
}
.tab-links{
    width: 100%;
    text-align: center;
        font-size: 18px;
        font-weight: 500;
        cursor: pointer;
        position: relative;
    padding: 10px 0;
    z-index: 1;
}
.tab-links::after{
        content: '';
    width: 100%;
        height: 0%;
        background: var(--brandBg);
        position: absolute;
        left: 0;
        bottom: 0;
    z-index: -1;
        transition: 0.2s ease-in-out;
}
.tab-links.active-link::after{
        height: 100%;
}
.tab-contents{
        display: none;
}
.tab-contents.active-tab{
        display: block;
}

.menu-tab-links{
    width: 100%;
    text-align: center;
        font-size: 16px;
        font-weight: 400;
        cursor: pointer;
        position: relative;
    padding: 10px 0;
    z-index: 1;
}
.menu-tab-links::after{
        content: '';
    width: 100%;
        height: 0%;
        background: var(--brandBg);
        position: absolute;
        left: 0;
        bottom: 0;
    z-index: -1;
        transition: 0.2s ease-in-out;
}
.menu-tab-links.active-link::after{
        height: 100%;
}
.menu-tab-contents{
        display: none;
}
.menu-tab-contents.active-tab{
        display: block;
}
.menu-tab-contents{
	display: none;
}
.menu-tab-contents.active-tab{
	display: block;
}

/* Menu Formatting */

.tab-contents ul li{
        list-style: none;
        margin: 10px 10%;
}
.tab-contents ul li span{
        color: #961B3A;
        font-size: 14px;
    font-weight: 700;
    line-height: 2rem;
}
.tab-contents h2 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #961B3A;
    text-align: center;
    margin-top: 2rem;
}
#hours {
    font-size: larger;
    text-align: center;
}
footer {
    height: 200px;
    margin-top: 40px;
    padding: 20%;
    background-color: #961B3A;
    color: bisque;
}

.item-wrapper {
    font-family: "Domine", serif;
    display: grid; 
    grid-template-rows: repeat(2, fit-content);
    justify-content: space-between;
    margin: 0 1% .5rem 1%;
    border-radius: 1em;
    border: 0px;
    box-shadow: 3px 5px 10px lightgray;
    padding: .8rem;
    background-image: repeating-linear-gradient(white, white 3px, #fafafa 3px, #fafafa 6px);
}
.name {
    margin: 0 0 .5rem 0;
    grid-column: span 3 / span 3;
}
.description {
    display: inline-block;
    vertical-align: middle;
    grid-row-start: 2;
    grid-column: span 2;
    padding: 1rem 0;
}
.price {
    display: inline-block;
    vertical-align: middle;
    grid-row-start: 2;
    grid-column: span 1;
    font-weight: 600;
    font-size: 1.2rem;
    text-align: right;
    padding: .5rem;
}

@media only screen and (min-width: 600px) {
    body {
        max-width: 1400px;
    }
    .item-wrapper {
        display: flex; 
        flex-direction: row;
        justify-content: space-between;
        max-width: 75%;
        margin: .6rem auto;
        border-radius: 1em;
        border: 0px;
        box-shadow: 3px 5px 10px #d2d2d2;
        padding: .8rem;
        background-image: repeating-linear-gradient(white, white 3px, #fafafa 3px, #fafafa 6px);
    }
    .name {
        padding: .5rem;
        text-align: left;
        width: 25%;
    }
    .description {
        width: 50%;
        margin: auto;
        padding: .5rem 0;
    }
    .price {
        font-weight: 600;
        font-size: 1.2rem;
        text-align: right;
        width: 25%;
        padding: .5rem;
    }
}