* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #f0f0f0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#nav-open {
    position: absolute;
    top: 10px;
    right: 20px;
    z-index: 20;
    border: none;
    font-size: xx-large;
    background-color: rgba(0, 0, 0, 0);
    color: white;
}
#nav-panel[popover] {
    position: absolute;
    top: 0;
    right: 0;
    height: 70vh;
    border: 0px;
    margin: 0;
    padding: 2.2rem 1rem;
    text-align: right;
    width: 100%;
    color: white;
    background-color: rgba(0, 0, 0, .6);
    z-index: -1;
}
#nav-close {
    position: absolute;
    top: 10px;
    right: 20px;
    border: none;
    font-size: xx-large;
    background-color: rgba(0, 0, 0, 0);
    color: white;
}
.nav-item {
    border: none;
    font-size: xx-large;
    background-color: rgba(0, 0, 0, 0);
    color: white;
}
#nav-panel a, ul {
    text-decoration: inherit;
    color: inherit;
    list-style: none;
}
#nav-panel li {
    margin: 10px 0;
}

/* header #mobile-nav[popover] {
    border: none;
    inset: var(--header-height) 0 0;
    height: var(--nav-popover-max-height);
    margin: 0;
    padding: 0 1rem;
    width: 100%;
    
    & > * {
      margin-bottom: 1rem;
    }
    
    h2 {
      color: #3c6378;
      font-size: 1.25rem;
      margin-block: 1em 0.5em;
    }
    
    details {
      background: #ddeedd;
      
      summary {
        background: white;
        padding: 0.5rem 0;
      }
      
      ul li {
        margin-bottom: 0.5rem;
      }
    }
  } */
  
.mobile-hero {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
    position: relative;
    overflow: hidden;
}
.mobile-hero img {
    position: absolute;
    top: 0;
    left: 50;
    object-fit: cover;
    filter: brightness(.8);
}
#slide-1 {
    display: none;
}
#slide-2 {
    width: 100%;
    animation: 10s ease-in-out 0s infinite alternate fadeOut;
    z-index: 2;
}
#slide-3 {
    height: 100%;
    width: 100%;
}

@keyframes fadeOut {
    0% { opacity: 0;}
    25% { opacity: 0;}
    75% { opacity: 1;}
    100% { opacity: 1;}
}
.hero-info {
    text-align: center;
    padding: 12px 16px;
    border-radius: .5rem;
    color: white;
    background-color: rgba(0, 0, 0, .5);
    z-index: 5;
}
.tab-titles{
	display: flex;
    justify-content: space-around;
    background-color: rgb(205, 193, 179);
    z-index: -20;
}
.tab-links{
    width: 100%;
    text-align: center;
	font-size: 18px;
	font-weight: 500;
	cursor: pointer;
	position: relative;
    padding: 10px 0;
    z-index: 1;
}
.tab-links::after{
	content: '';
    width: 100%;
	height: 0%;
	background: #f0f0f0;
	position: absolute;
	left: 0;
	bottom: 0;
    z-index: -1;
	transition: 0.5s;
}
.tab-links.active-link::after{
	height: 100%;
}
.tab-contents ul li{
	list-style: none;
	margin: 10px 0;
}
.tab-contents ul li span{
	color: #961B3A;
	font-size: 14px;
}
.tab-contents{
	display: none;
}
.tab-contents.active-tab{
	display: block;
}