:root {
  --brndClrOne: #770c4e;
  --brandBg: #fefefe;
  --tabBg: #1a4634;
  --tabText: #ffdf5f;
  --tabTextActive: #103630;
  --mobileHeroNavHeight: 75vh;
  --heroNavHeight: 80vh;
  --navXClr: #ffffff;
  --navText: #ffffff;
  --navBg: rgba(0,0,0,.5);
  --navGrad1: rgba(0,0,10,.7);
  --navGrad2: rgba(0,0,10,0);
  --displayFont: "kon-tiki-aloha-jf", sans-serif;
  --displaySpacing: 1px;
  --bodyFont: "verdana", sans-serif;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
body {
    background-color: var(--brandBg);
    margin:auto;
}
#nav-open-container {
    position: absolute;
    width: 31px;
    height:31px; 
    top: 13px;
    right: 14px;
    border: none;
    background: rgba(0,0,0,0);
    z-index: 19;
    cursor: pointer;  
}
#nav-open {
    position: relative;
    width: 22px;
    height: 3px; 
    top: 10px;
    left: 3px;
    z-index: 20;
    border: none;
    background-color: var(--navXClr);
    color: var(--navXClr);
    cursor: pointer;
}
#nav-open::before {
    content: '';
    display: block;
    position: absolute; 
    width: 22px;
    height: 3px;
    background-color: var(--navXClr);
    transform: translateY(-18px);
}
#nav-open::after {
    content: '';
    display: block;
    position: absolute; 
    width: 22px;
    height: 3px;
    background-color: var(--navXClr);
    transform: translateY(-9px);
}
#nav-panel[popover] {
    max-width: 100%;
    position: absolute;
    height: var(--mobileHeroNavHeight);
    max-height: 80vh;
    overflow: hidden;
    border: 0px;
    margin: 0 auto;
    padding: 2.5rem 1rem 0;
    text-align: right;
    width: 100%;
    font-family: var(--displayFont);
    color: var(--navText);
    background-color: var(--navBg);
    background-image: linear-gradient( var(--navGrad1), var(--navGrad2));
    z-index: -1;
    animation: .5s ease-out FadeIn;
}
#nav-panel[popover] ul li:not(:last-child)::after {
    content: '';
    display: block;
    position: absolute;
    width: 150px;
    height: 2px;
    right: 0;
    transform: translateY(4px);
    background-color: var(--navXClr);
    cursor: default;
}
@keyframes FadeIn {
    from {opacity: 0;}
    to {opacity: 1;}    
}
#nav-panel[popover] ul li {
    opacity: 0;
    animation: .5s ease-out forwards FadeInRt;
}
@keyframes FadeInRt {
    from { transform: translateX(120px); opacity: 0;}
    to { transform: translateX(0px); opacity: 1;}
}
#nav-panel[popover] ul li:nth-child(2) { animation-delay: .1s }
#nav-panel[popover] ul li:nth-child(3) { animation-delay: .2s }
#nav-panel[popover] ul li:nth-child(4) { animation-delay: .3s }
#nav-panel[popover] ul li:nth-child(5) { animation-delay: .4s }

#nav-close {
    position: absolute;
    top: 10px;
    right: 20px;
    border: none;
    font-size: xx-large;
    background-color: rgba(0, 0, 0, 0);
    color: var(--navXClr);
    cursor: pointer;
}
.menu-goaway {
    display: block;
    width: 100%;
    height: 60%;
    border: 0px;
    background-color: rgba(0, 0, 0, 0);
}
.nav-item {
    border: none;
    font-size: large;
    background-color: rgba(0, 0, 0, 0);
    color: var(--navText);
    cursor: pointer;
    font-size: 1.5rem;
    letter-spacing: 1px;
}
#nav-panel a, ul {
    text-decoration: inherit;
    color: inherit;
    list-style: none;
}
#nav-panel li {
    margin: 15px 0;
    cursor: pointer;
}

.hero {
    display: flex;
    justify-content: left;
    align-items: baseline;
    height: var(--mobileHeroNavHeight);
    position: relative;
    overflow: hidden;
    background-image: url(./img/sunset_hero_bg.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: right;
}
.hero img {
    position: absolute;
    bottom: 0;
    right: 0;
}
#slide-1 {
    height: auto;
    width: 220%;
    z-index: 3;
}
#slide-2 {
    width: 80vw;
    height: auto;
    z-index: 2;
    animation: saunter-in-from-right 4s cubic-bezier(0, 0, 0, 1) forwards;
}
@keyframes saunter-in-from-right {
    from { transform: translateX(5%);}
    to { transform: translateX(0%);}
}
#slide-3 {
    height: auto;
    width: 200%;
    animation: grow-in 4s cubic-bezier(0, 0, 0, 1) forwards;
}
@keyframes grow-in {
    from { transform: scale(1) translateY(5%);}
    to { transform: scale(1.05) translateY(0%);}
}

@keyframes fadeOut {
    0% { opacity: 0;}
    25% { opacity: 0;}
    75% { opacity: 1;}
    100% { opacity: 1;}
}
.hero-info {
    margin: 1rem;
    text-align: center;
    font-family: var(--displayFont);
    padding: 12px 16px;
    border-radius: .5rem;
    color: #ffdf5f;
    background-color: rgba(0, 0, 0, .5);
    z-index: 5;
}
.tab-titles{
    display: flex;
    justify-content: space-around;
    background-color: var(--tabBg);
    z-index: -20;
}
.menu-tab-titles{
    display: flex;
    justify-content: space-around;
    background-color: var(--tabBg);
    z-index: -20;
}

.essential-info a {
    text-decoration: none;
}
.tab-links{
    width: 100%;
    text-align: center;
    font-family: var(--displayFont);
    font-size: 20px;
    font-weight: 500;
    letter-spacing: var(--displaySpacing);
    color: var(--tabText);
    cursor: pointer;
    position: relative;
    padding: 10px 0;
    z-index: 1;
}
.tab-links::after{
    content: '';
    width: 100%;
    height: 0%;
    background: var(--brandBg);
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.2s ease-in-out;
}
.tab-links.active-link {
    color: var(--tabTextActive);
}
.tab-links.active-link::after{
    height: 100%;
}
.tab-contents{
    display: none;
}
.tab-contents.active-tab{
    display: block;
}

.menu-tab-links{
    width: 100%;
    margin: auto 0 0 0;
    text-align: center;
    font-family: var(--bodyFont);
    font-size: 16px;
    font-weight: 500;
    color: var(--tabText);
    cursor: pointer;
    position: relative;
    padding: 10px 0;
    z-index: 1;
}
.menu-tab-links.active-link {
    color: var(--tabTextActive);
}
.menu-tab-links::after{
    content: '';
    width: 100%;
    height: 0%;
    background: var(--brandBg);
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.2s ease-in-out;
}
.menu-tab-links.active-link::after{
    height: 100%;
    color: var(--tabTextActive);
}
.menu-tab-contents{
    display: none;
}
.menu-tab-contents.active-tab{
    display: block;
}
.menu-tab-contents{
	display: none;
}
.menu-tab-contents.active-tab{
	display: block;
}

/* Menu Formatting */

.tab-contents ul li{
    list-style: none;
    margin: 10px 10%;
}
.tab-contents ul li span{
    color: var(--brndClrOne);
    font-size: 1rem;
    font-weight: 500;
    line-height: 2rem;
}
.tab-contents h2 {
    font-family: var(--displayFont);
    letter-spacing: var(--displaySpacing);
    color: var(--brndClrOne);
    text-align: center;
    margin: 2rem;
}
#hours {
    font-size: larger;
    max-width: 350px;
    margin-left: auto;
    margin-right: auto;
}
#hours ul li{
    display: flex;
    justify-content: space-between;
    font-family: var(--bodyFont);    
}
#hours span {
    font-family: var(--displayFont);
    font-size: larger;
}
/* Menu Login Page */
.login-container, .add-item-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 1rem;
    max-width: 300px;
    margin: 2rem auto;
    padding: 2rem;
    border-radius: 2rem;
    box-shadow: #0f0f0f0f 0px 3px 10px;
    background-color: whitesmoke;
}
.login-container > h2 {
    margin: 0;
}
.login-container > input, .add-item-container input, .add-item-container select, .add-item-container textarea {
    padding: 1rem;
    border-radius: .5rem;
    border: #d2d2d2 1px solid;
    box-shadow: inset 0px 1px 3px lightgray;
}

footer {
    height: 200px;
    margin-top: 40px;
    padding: 20%;
    background-color: var(--tabBg);
    font-family: var(--bodyFont);
    color: var(--tabText);
}

section:has(.item-wrapper:hover) .item-wrapper:not(:hover) {
    background-image: repeating-linear-gradient(white, white 3px,  #fafafa 3px, #fafafa 6px);
}
.item-wrapper {
    
    display: grid; 
    grid-template-rows: repeat(2, fit-content);
    justify-content: space-between;
    margin: 0 1% .5rem 1%;
    border-radius: 1em;
    border: 0px;
    box-shadow: 3px 5px 10px lightgray;
    padding: .8rem;
    background-color: white;
}
.name {
    font-family: var(--displayFont);
    letter-spacing: var(--displaySpacing);
    color: var(--tabTextActive);
    margin: 0 0 .5rem 0;
    grid-column: span 3 / span 3;
}
.description {
    display: inline-block;
    font-family: var(--bodyFont);
    vertical-align: middle;
    grid-row-start: 2;
    grid-column: span 2;
    padding: 1rem 0;
}
.price {
    display: inline-block;
    vertical-align: middle;
    grid-row-start: 2;
    grid-column: span 1;
    font-family: var(--displayFont);
    font-weight: 600;
    font-size: 1.2rem;
    color: var(--tabTextActive);
    text-align: right;
    padding: .5rem;
}

@media only screen and (min-width: 600px) {
    body {
        max-width: 1400px;
    }
    #nav-panel[popover] {
        height: var(--heroNavHeight);
    }
    .hero {
        display: flex;
        justify-content: left;
        align-items: baseline;
        height: var(--heroNavHeight);
        position: relative;
        overflow: hidden;
        background-image: url(./img/sunset_hero_bg.jpg);
        background-size: cover;
        background-attachment: fixed;
    }
    #slide-1 {
    height: auto;
    width: 100%;
    z-index: 3;
    }
    #slide-2 {
        width: 37vw;
        height: auto;
        z-index: 2;
        animation: saunter-in-from-right 4s cubic-bezier(0, 0, 0, 1) forwards;
    }
    @keyframes saunter-in-from-right {
        from { transform: translateX(5%);}
        to { transform: translateX(0%);}
    }
    #slide-3 {
        height: auto;
        width: 100%;
        animation: grow-in 4s cubic-bezier(0, 0, 0, 1) forwards;
    }
    @keyframes grow-in {
        from { transform: scale(1) translateY(5%);}
        to { transform: scale(1.05) translateY(0%);}
    }
    .hero-info {
        z-index: 100;
    }
    .hero-info h1{
        font-size: 3rem;
    }
    .hero-info p {
        font-size: 1.5rem;
    }
    .menu-tab-links{
        font-size: 16px;
        font-weight: 600;
    }
    .item-wrapper {
        display: flex; 
        flex-direction: row;
        justify-content: space-between;
        max-width: 75%;
        margin: .6rem auto;
        border-radius: 1em;
        border: 0px;
        box-shadow: 3px 5px 10px #d2d2d2;
        padding: .8rem;
        transition:all .1s ease-in-out;
    }
    .item-wrapper:hover {
        transform: translatex(-5px);
    }
    .name {
        padding: .5rem;
        text-align: left;
        width: 25%;
    }
    .description {
        width: 50%;
        margin: auto;
        padding: .5rem 0;
    }
    .price {
        font-weight: 600;
        font-size: 1.2rem;
        text-align: right;
        width: 25%;
        padding: .5rem;
    }
}